/* Add/Edit Gallery page */
#gallery-settings,
#view-post-btn,
#advanced-sortables .handlediv,
.describe .image_alt,
.describe .post_excerpt,
.describe .url,
.describe .align,
.describe .image-size,
.describe .wp-post-thumbnail,
#normal-sortables { display: none !important; }

/* Attachments on Add/Edit Gallery page */
#gog_sectionid .attachments li {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #fff;
	border: 1px solid #dfdfdf;
	overflow: hidden;
	padding: 10px;
}
#gog_sectionid .attachments li.deleted {
	background-color: lightYellow;
	border-color: #E6DB55;
}
#gog_sectionid .attachments li .image {
	float: left;
	margin-right: 10px;
}
#gog_sectionid .attachments li .del-link {
	color: red;
	border-bottom: 1px solid red;
	text-decoration: none;
}
#gog_sectionid .attachments li .del-link:hover {
	background: red;
	color: #fff;
}
#gog_sectionid .inside { padding: 0 8px; }
#add_image img { vertical-align: text-bottom; }

#go-gallery-generator { margin: 1em; }

.postbox h3,
h3.hndle { cursor: default !important; }

.go-gallery-admin { margin: 2em 0; }

#screen-meta { z-index: 999; }

.wrap { position: relative; }

.form-table { margin-bottom: 0; }

.go-flattr { position: absolute; right: 20px; top: 20px; }

.tip {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #f1f1f1;
	border: 1px solid #e3e3e3;
	margin: 1em 0;
	padding: 10px;
	max-width: 700px;
}

div.help { font-size: 10px; padding: 0 0 10px 0; width: 400px; }

/* Plugin info in settings */
.goodoldgallery_page_gog_settings .plugin-info { margin: 0 0 10px 0; }
.js.goodoldgallery_page_gog_settings .plugin-info { display: none; margin: 0 }
.js.goodoldgallery_page_gog_settings .plugin-info h4,
.js.goodoldgallery_page_gog_settings .plugin-info p { margin: .3em 0; }
.js.goodoldgallery_page_gog_settings .plugin-info .version { font-size: 10px; font-weight: normal; }

/* Order fields in Settings */
.goodoldgallery_page_gog_settings #order { display: none; }
.js.goodoldgallery_page_gog_settings #order { display: block; }
.js.goodoldgallery_page_gog_settings #order li {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #ddd;
	color: #999;
	cursor: move;
	font-weight: bold;
	padding: 5px 10px;
	margin: 5px 10px;
	width: 400px;
}
.js.goodoldgallery_page_gog_settings #order li i {
	background-image:url(../img/glyphicons-halflings-off.png);
}
.js.goodoldgallery_page_gog_settings #order li:hover {
	background: #ccc;
	color: #333;
}
.js.goodoldgallery_page_gog_settings #order li:hover i {
	background-image:url(../img/glyphicons-halflings.png);
}

/* Themes settings */
.themes-link,
.themes-available { clear: both; font-size: 10px; margin: 0; overflow: hidden; padding: 10px 0; }
.themes-available .theme { border: 5px solid #eee; font-weight: bold; float: left; margin: 0 10px 10px 0; width: 300px; }
.themes-available .theme .screenshot { border-bottom: 5px solid #eee; }
.themes-available .theme .information { padding: 5px; }
.themes-available .theme .description { font-weight: normal; }