#main .good-old-gallery-widget ul.slides,
.good-old-gallery-widget ul.slides { margin: 0; }

.go-gallery-container ul,
.go-gallery-container ol,
.go-gallery-container li { list-style: none; margin: 0; padding: 0; }

.go-gallery-container .slides li:nth-child(1n+1) { display: none; }

.go-gallery-container .flex-direction-nav,

.go-gallery-container .flex-pauseplay { float: left; }
.go-gallery-container .flex-direction-nav li { float: left; }
.go-gallery-container .flex-direction-nav li .prev,
.go-gallery-container .flex-direction-nav li .next { margin: 0 10px 0 0; }

.go-gallery-container .flex-control-nav { float: right; }
.go-gallery-container .flex-control-nav li { float: left; margin-left: 6px; }
.go-gallery-container .flex-control-nav li a,
.go-gallery-container .flex-pauseplay span { cursor: pointer; }

.go-gallery-container .title { font-size: 1em; font-weight: bold; margin: 0 5px 0 0; }
.go-gallery-container .description { font-size: .8em; font-style: italic; }

/* Cycle specific */
.go-gallery-container.cycle,
.go-gallery-container.cycle .go-gallery-inner { display: block; overflow: hidden; }
.go-gallery-container.cycle .slides { display: block; }
.go-gallery-container.cycle .slides li { margin: 0; }
.go-gallery-container.cycle img { max-width: 100%; }