#gallery-settings,
#view-post-btn,
#advanced-sortables .handlediv,
.describe .image_alt,
.describe .post_excerpt,
.describe .url,
.describe .align,
.describe .image-size,
.describe .submit,
#normal-sortables { display: none !important; }

#gog_sectionid .inside { padding: 0 8px; }
#add_image img { vertical-align: text-bottom; }

#go-gallery-generator { margin: 1em; }

.postbox h3,
h3.hndle { cursor: default !important; }

.go-gallery-admin { margin: 2em 0; }