#gallery-settings,
#view-post-btn,
#advanced-sortables .handlediv,
.describe .image_alt,
.describe .post_excerpt,
.describe .url,
.describe .align,
.describe .image-size,
.describe .submit,
#normal-sortables { display: none !important; }

#gog_sectionid .inside { padding: 0 8px; }
#add_image img { vertical-align: text-bottom; }

#go-gallery-generator { margin: 1em; }

.postbox h3,
h3.hndle { cursor: default !important; }

.go-gallery-admin { margin: 2em 0; }

#go-settings-form { position: relative; }

.goodoldgallery_page_goodoldgallery code { white-space: nowrap; }

.goodoldgallery_page_goodoldgallery .form-table { margin-bottom: 0; }

.goodoldgallery_page_goodoldgallery .go-flattr { position: absolute; right: 0; top: 0; }

.goodoldgallery_page_goodoldgallery .tip {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #f1f1f1;
	border: 1px solid #e3e3e3;
	margin: 1em 0;
	padding: 10px;
	max-width: 700px;
}

.goodoldgallery_page_goodoldgallery div.help { font-size: 10px; margin: 0 0 0 235px; padding: 0 0 10px 0; width: 400px; }

.goodoldgallery_page_goodoldgallery .themes-link,
.goodoldgallery_page_goodoldgallery .available-themes { margin: 0 0 0 235px; padding: 10px 0; width: 400px; }
.goodoldgallery_page_goodoldgallery .available-themes .theme { font-weight: bold; }
.goodoldgallery_page_goodoldgallery .available-themes .theme img { border: 5px solid #eee; margin: 0 0 5px 0; }
.goodoldgallery_page_goodoldgallery .available-themes .theme .description { font-weight: normal; }

.goodoldgallery_page_goodoldgallery .submit { float: left; margin-left: 10px; }
.goodoldgallery_page_goodoldgallery .reset { margin-left: 30px; }