#gallery-settings,
#view-post-btn,
#advanced-sortables .handlediv,
.describe .image_alt,
.describe .post_excerpt,
.describe .url,
.describe .align,
.describe .image-size,
.describe .wp-post-thumbnail,
#normal-sortables { display: none !important; }

#gog_sectionid .inside { padding: 0 8px; }
#add_image img { vertical-align: text-bottom; }

#go-gallery-generator { margin: 1em; }

.postbox h3,
h3.hndle { cursor: default !important; }

.go-gallery-admin { margin: 2em 0; }

#screen-meta { z-index: 999; }

.wrap { position: relative; }

code { white-space: nowrap; }

.form-table { margin-bottom: 0; }

.go-flattr { position: absolute; right: 20px; top: 30px; }

.tip {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #f1f1f1;
	border: 1px solid #e3e3e3;
	margin: 1em 0;
	padding: 10px;
	max-width: 700px;
}

div.help { font-size: 10px; padding: 0 0 10px 0; width: 400px; }

.themes-link,
.themes-available { clear: both; font-size: 10px; margin: 0; overflow: hidden; padding: 10px 0; }
.themes-available .theme { border: 5px solid #eee; font-weight: bold; float: left; margin: 0 10px 10px 0; width: 300px; }
.themes-available .theme .screenshot { border-bottom: 5px solid #eee; }
.themes-available .theme .information { padding: 5px; }
.themes-available .theme .description { font-weight: normal; }

.submit { float: left; margin-left: 10px; }
.reset { margin-left: 30px; }