/**
 *
 * Style Name: Good Old Gallery small dots
 * Class: gog-dots
 * Description: A neat gallery pager with small dots floating on top of the gallery. Uses CSS3 to achieve this. (titles and descriptions are not styled yet)
 * Author: Linus Lundahl
 * Version: 1.01
 * Author URI: http://unwi.se/
 *
 */

.go-gallery-container.gog-dots { margin: 0 !important; padding: 0 !important; position: relative; }
.go-gallery-container.gog-dots .slides { margin: 0 !important; padding: 0 !important; }
.go-gallery-container.gog-dots.has-nav { padding: 0 30px !important; position: relative; }
.go-gallery-container.gog-dots .slides li { position: relative; }

/** Pager */
.go-gallery-container.gog-dots .pager,
.go-gallery-container.gog-dots .flex-control-nav {
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
	border-radius: 8px;
	background: rgba(128,128,128,.7);
	left: 20px;
	padding: 5px 10px !important;
	position: absolute;
	top: 20px;
	z-index: 999;
}
.go-gallery-container.gog-dots.has-pager .pager,
.go-gallery-container.gog-dots.has-pager .flex-control-nav {
	left: 50px;
}
.go-gallery-container.gog-dots .scrollHorz li,
.go-gallery-container.gog-dots .scrollVert li,
.go-gallery-container.gog-dots .slide li {
	margin: 0px !important;
	padding: 0px !important;
}
.go-gallery-container.gog-dots .pager a,
.go-gallery-container.gog-dots .flex-control-nav a {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	border-radius: 3px;
	background: #000;
	height: 0;
	margin: 0 0 0 3px !important;
	overflow: hidden;
	outline: none;
	padding: 6px 0 0 0 !important;
	width: 6px;
}
.go-gallery-container.gog-dots .pager a.activeSlide,
.go-gallery-container.gog-dots .flex-control-nav a.active { background: #fff;}
.go-gallery-container.gog-dots .pager a:first-child,
.go-gallery-container.gog-dots .flex-control-nav li:first-child { margin: 0; }
/* end Pager */

/** Navigation */
.go-gallery-container.gog-dots .nav .prev,
.go-gallery-container.gog-dots .nav .next,
.go-gallery-container.gog-dots .flex-direction-nav .prev,
.go-gallery-container.gog-dots .flex-direction-nav .next {
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	top: 0;
	width: 30px;
}
.go-gallery-container.gog-dots .nav .prev,
.go-gallery-container.gog-dots .flex-direction-nav .prev { background: url("good-old-gallery-dots/arrows.png") 0 center no-repeat; left: 0; cursor: pointer; }
.go-gallery-container.gog-dots .nav .next,
.go-gallery-container.gog-dots .flex-direction-nav .next { background: url("good-old-gallery-dots/arrows.png") -90px center no-repeat; right: 0; cursor: pointer; }
.go-gallery-container.gog-dots .nav .prev:hover,
.go-gallery-container.gog-dots .flex-direction-nav .prev:hover { background: url("good-old-gallery-dots/arrows.png") -30px center no-repeat; }
.go-gallery-container.gog-dots .nav .next:hover,
.go-gallery-container.gog-dots .flex-direction-nav .next:hover { background: url("good-old-gallery-dots/arrows.png") -60px center no-repeat; }
/* end Navigation */

/** Flex Play/Pause */
.go-gallery-container.gog-dots .flex-pauseplay {
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
	border-radius: 8px;
	background: rgba(128,128,128,.7);
	color: #fff;
	font: normal 400 10px/100% HelveticaNeue, "Helvetica Neue", Helvetica, Tahoma, Geneva, Arial, sans-serif;
	letter-spacing: 1px;
	padding: 5px 10px;
	position: absolute;
	right: 50px;
	text-transform: uppercase;
	top: 20px;
	z-index: 999;
}
/* End Flex Play/Pause */

/** Title & Description */
.go-gallery-container.gog-dots .meta {
	bottom: 0;
	height: auto;
	left: 0;
	position: absolute;
	text-indent: 10px;
	width: 100%;
}
/* End Title & Description */